* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
  font-family: "Poppins";
}

body {
  background-color: #2b9b5f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: 1100px;
  border-radius: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.balance {
  background: linear-gradient(90deg, #48bb76, #3ddd7d);
  border-radius: 1rem;
  padding: 2rem;
}

.balance h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.balance .balance-amt {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 1rem;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: 1.5rem;
}

.summary .income-container,
.expenses-container {
  background-color: white;
  border-radius: 10px;
  min-height: 100px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}

.summary .income-container:hover,
.expenses-container:hover {
  transform: translateY(-3px);
}

.summary .income-container {
  color: green;
  padding-top: 20px;
}

.summary .income-container .income-amt {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.summary .expenses-container {
  color: rgb(197, 65, 65);
  padding-top: 20px;
}

.summary .expenses-container .expense-amt {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.transactions,
.form-container {
  text-align: left;
}

.transactions ul {
  max-height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}

.transactions ul::-webkit-scrollbar {
  width: 8px;
}

.transactions ul::-webkit-scrollbar-track {
  background-color: rgba(183, 183, 183, 0.266);
  border-radius: 5px;
}

.transactions ul::-webkit-scrollbar-thumb {
  background-color: #3ddd7d;
  border-radius: 5px;
}

.transactions .transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 10px;
  padding-right: 4rem;
  border-radius: 10px;
  height: 45px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  margin: 10px 0;
  transition: all ease-in-out 0.2s;
  max-width: 83%;
  position: relative;
}

.transactions .transaction-item .delete-transaction_btn {
  position: absolute;
  right: 20px;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 172, 172, 0.821);
  color: rgb(248, 17, 17);
  font-weight: 500;
  display: none;
  cursor: pointer;
}

.transactions .transaction-item:hover {
  margin-left: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.079);
}

.transactions .transaction-item:hover .delete-transaction_btn {
  display: block;
}

.transactions .transaction-income {
  border-right: 5px solid rgb(90, 196, 118);
}

.transactions .transaction-expense {
  border-right: 5px solid red;
}

.transactions h2,
.form-container h2 {
  font-weight: 500;
  font-size: 1.3rem;
  color: #5c5c5c;
  margin-bottom: 10px;
}

.form-container {
  background-color: rgb(241, 247, 255);
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.108);
}

.form-container .transaction-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.form-container .transaction-input label {
  color: rgb(92, 92, 92);
  font-size: 15px;
  font-weight: 500;
}

.form-container .transaction-input input {
  height: 40px;
  border: 2px solid #1087a241;
  border-radius: 5px;
  padding-left: 10px;
}

.form-container .transaction-input p {
  color: #5c5c5c;
  font-size: 15px;
}

.form-container .addTransaction-btn {
  background-color: #49a549;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 13px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in 0.5s;
  width: 100%;
}

.form-container .addTransaction-btn:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  .summary {
    grid-template-columns: 1fr;
  }
}
