* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
  font-family: "Poppins";
}

body {
  background-color: #65f4a8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: 1100px;
  border-radius: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.balance {
  background: linear-gradient(90deg, #66ffa3, #3ddd7d);
  border-radius: 1rem;
  padding: 2rem;
}

.balance h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.balance .balance-amt {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 1rem;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  gap: 1.5rem;
}

.summary .income-container,
.expenses-container {
  background-color: white;
  border-radius: 10px;
  min-height: 100px;
}

.summary .income-container {
  color: green;
  padding-top: 20px;
}

.summary .income-container .income-amt {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.summary .expenses-container {
  color: rgb(197, 65, 65);
  padding-top: 20px;
}

.summary .expenses-container .expense-amt {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.transactions,
.form-container {
  text-align: left;
}

.transactions h2,
.form-container h2 {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(92, 92, 92);
}

.form-container {
  background-color: rgb(230, 240, 255);
  border-radius: 5px;
  padding: 1rem;
}
